.header{

    background-color:#222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    

}
.logo{
    background-color: #ff7f7f;
    height: 35px;
    align-self: left;
    animation: rotation 8s infinite linear;
    
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }